a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

}
li{   
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul{
    text-align: end;
}

h1{
    text-align: center;
}

.box1{
    border: 2px solid black;
    width: 240px;
    height: 330px;
    text-align: center;
    padding-top: 15px;
    margin: 50px;
    border-radius: 30px;
    

}
.img1{
    border-radius: 89% 11% 93% 7% / 8% 94% 6% 92% ;
    border: 2px solid black;
}

.Para1{
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
}

.main{
    /* display: inline-block; */
    display: flex;
    margin-left: 250px;
}
.span{
    width: 1200px;
    display: flex; 
    
}
.p2{
    width: 950px;
    text-align: right;
}

.tb1 td{
    width: 450px;
    height: 31px;
    font-weight: bold;   
    border-collapse: collapse;
}

table{border-collapse: collapse;
    display: inline-block;
}
.img2{
    border: 2px solid black;
}
.th1{
    background-color: orange;
}
.ter{
    display: flex;
}
.ter11{
    font-size: 18px;
}

.tb3{
    width: 100%;
    text-align: center;
}
.tb33{
    background-color: orange;
}
.tb2 tr{
    text-align: center;
}
.tb22{
    background-color: orange;
}
.last{
    display: flex;
    width: 100%;
    text-align: center;
}
.last11{
    display: inline-block;
    padding-left: 800px;

}
.last1 td{
    
    width: 350px;
    height: 25px;
    padding-left: 5px;
}

.last2 td{
    height: 25px;
    width: 350px;
    padding-left: 5px;
}

.tb3 th{
    text-align: center;
    height: 30px;
    width: 350px;
}

#sub{
    text-align: start;
    width: 700px;
}
#sub1{
    width: 700px;
}
#sub1{
    width: 700px;
}
#sr{
    width: 100px;
}
.last2{
    margin-left: 20px;
}

a:hover{
    background-color: aqua;
    font-size: 20px;
}

.box1:hover{
    border: 5px solid rgb(44, 218, 25);
}
.box1:hover .img1{
    border: 5px solid yellowgreen;
}

tr:hover{
    background-color: aqua;
}
td:hover{
    background-color: blueviolet;
}
th:hover{
    background-color: aqua;
}
th:hover{
    background-color: blueviolet;
}